$breakpoints: (
        'mobile': 'screen and (max-width: 768px)',
        'tablet': 'screen and (max-width: 1023px)',
        'desktop': 'screen and (max-width: 1215px)',
        'wodescreen': 'screen and (max-width: 1407px)',
        'fullhd': 'screen and (min-width: 1408px)',
) !default;

@mixin mq($breakpoint: mobile) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

h1 {
    &.title{
        padding: 2rem 0;
    }
}

.container{
    @include mq(mobile) {
        padding: 0.75rem;
    }
}

.profile {
    padding-left: 2rem;
    padding-top: 3rem;

    & p{
        margin: 1rem 0;
    }
}
.skill{
    margin: 0.75rem;
}

.skill-content {
    align-items: center;
}

.content {
    max-width: 1000px;
    max-height: calc(100vh - 80px);
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    overflow: auto;
    box-shadow: 0 10px 20px rgba(#000,.2);
    border-radius: 8px;
}
.timeline {
    font-size: 1rem;
    padding: 0;
    li {
        list-style: none;
    }
    > li {
        position: relative;
        margin: 0 0 0 5em;
        padding: 0 0 1em 2em;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
        &:before {
            top: .1rem;
            left: 0;
            width: 1px;
            height: 100%;
            background: #ccc;
        }
        &:after {
            top: .1rem;
            left: -5px;
            width: 11px;
            height: 11px;
            background: #ccc;
            border-radius: 100%;
        }
    }
    > li:not(:first-child) {
        padding-top: 1rem;
        &:before {
            top: 0;
        }
        &:after {
            top: 1.1rem;
        }
    }
    ul {
        padding: 0;
        li {
            color: #999;
            margin-bottom: .5rem;
        }
    }
    header {
        line-height: 1;
        letter-spacing: 1px;
        margin-bottom: .5rem;
    }

}